﻿
@model ClientWeb_ISN.ViewModels.UserViewModel

@if (Model.Authentifie)
{
    <h3>
        Vous êtes déjà authentifié avec le login :
        @Model.User.Login
    </h3>
    @Html.ActionLink("Voulez-vous vous déconnecter ?", "Deconnexion")
}
else
{
    <p>
        Veuillez vous authentifier :
    </p>
    using (Html.BeginForm())
    {
        <div>
            @Html.LabelFor(m => m.User.Login)
            @Html.TextBoxFor(m => m.User.Login)
            @Html.ValidationMessageFor(m => m.User.Login)
        </div>
        <div>
            @Html.LabelFor(m => m.User.Pwd)
            @Html.PasswordFor(m => m.User.Pwd)
            @Html.ValidationMessageFor(m => m.User.Pwd)
        </div>
        <input type="submit" value="Se connecter" action="Index">
        <br />
    }
}